body{
    background-color: rgb(228, 233, 201);
    font-family:Monaco, "Courier New", monospace ;
    color: rgb(44, 44, 114);
}
.r1,.r2,.r3{
    font-size: 24px;
    font-weight: bold;
}
h1{
    font-family: Papyrus,fantasy;
    font-style: oblique;
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    text-decoration-line: underline;
}
h2{
    text-decoration-line: underline;
}
img{
    display:block ;
    margin-left: auto;
    margin-right: auto;
}
p,li{
    text-align: justify;  
}
.recipe{
    background-color: #c0ebc6;
}